/* ==========================================================================
   #POMODORO APP STYLES
   ========================================================================== */

/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* ----------------------------- Login -------------------------------*/

.center {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  
}

.center button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #222;
  background: #f5f5f5;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;

}

.popup {
  z-index: 10;
  position: absolute;
  top: -150%;
  left: 50%;
  opacity:0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding:20px 30px;
  background:#fff;
  box-shadow:2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
  
}


.popup.active {
  top: 15%;
  opacity:1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-color: #888;
  color:#eee;
  text-align:center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup .form h2 {
  text-align: center;
  color:#222;
  margin: 10px 0px 20px;
  font-size:25px;
}

.popup .form .form-element {
  margin: 15px 0px;
}

.popup .form .form-element label {
  font-size: 14px;
  color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
  margin-top:5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border:1px solid #aaa;
  border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
  margin-right:5px ;

}

.popup .form .form-element button {
  width:100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}

.popup .form .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color:#1a79ca;
  text-decoration: none;
  font-weight: 600;

}

/*-----------------Settings------------------*/

.popupsettings {
  z-index: 10;
  position: absolute;
  top: -150%;
  left: 50%;
  opacity:0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding:20px 30px;
  background:#fff;
  box-shadow:2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
  
}


.popupsettings.active {
  top: 15%;
  opacity:1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.popupsettings .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-color: #888;
  color:#eee;
  text-align:center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.titleSettings {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.SettingsTitles {
  font-size: 14px;
  color: rgb(187, 187, 187);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-top: 28px;
  margin-bottom: 10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.labelSettings {
  display: block;
  font-size: 14px;
  color: rgb(187, 187, 187);
  font-weight: bold;
  margin-bottom: 4px;
}

.ChangeTimeCategories {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
}

.InputSettings {
  width: 98px;
}

.InputNumbers {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
}

.ToggleSettings {
  cursor: pointer;
  width: 60px;
  height: 32px;
  border-radius: 50px;
  background-color: rgb(204, 204, 204);
  position: relative;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
}

.InToggleSettings {
  position: absolute;
  left: 2px;
  width:28px;
  height: 28px;
  border-radius: 50px;
  background-color: white;
  box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 1px;
}


.containersSettings {
  padding: 12px 0px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  
}

.containerSettingsFlex {

  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.applybutton {
  float: right;
  margin: 10px 0px; 
  width:100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;

}
/* ----------------- THEMES ---------------- */

:root {
  --pomodoro: hsl(223, 25%, 40%);
  --shortBreak: hsl(48, 23%, 40%);
  --longBreak: hsl(105, 16%, 40%);
  --clock: white;
  --progressbar: #fff;
  --modebutton:#fff;
  --mainbuttonbk: #fff;
  --mainbutton:hsl(175, 26%, 41%);
  --container:#fff;
}

.pink-mode {
  --pomodoro: #FFDDCC;
  --shortBreak: #FEBBCC;
  --longBreak: #FCBAAD;
  --clock: #916DB3;
  --progressbar: #fff;
  --modebutton: #E48586;
  --mainbuttonbk: #fff;
  --mainbutton:#FEBBCC;
  --container: #E48586;
}

.cozy-mode {
  --pomodoro: #4d5155;
  --shortBreak:#7B4F3F;
  --longBreak: #173435;
  --clock: #ffffff;
  --progressbar: #fff;
  --modebutton: #597A83;
  --mainbuttonbk: #fff;
  --mainbutton: #597A83;
  --container: #D9E0D5;
}

.dark-mode {
  --pomodoro: #292929;
  --shortBreak:#2E363A;
  --longBreak: #444444;
  --clock: #ffffff;
  --progressbar: #fff;
  --modebutton: #BEBEBE;
  --mainbuttonbk: #fff;
  --mainbutton: #2E363A;
  --container: #ffff;
}

.cold-mode {
  --pomodoro: #38AFB5;
  --shortBreak:#66A0A4;
  --longBreak: #CF9AE4;
  --clock: #ffffff;
  --progressbar: #fff;
  --modebutton: #E9CBCF;
  --mainbuttonbk: #fff;
  --mainbutton: #38AFB5;
  --container: #ffff;
}

body {
  background-color: var(--pomodoro);
  transition: background-color 1s ease;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  position: fixed;
  top: 0;
}

progress::-webkit-progress-bar {
 background-color: rgba(0, 0, 0, 0.1);;
}

progress::-webkit-progress-value {
  background-color:var(--progressbar);
}

.timer {
  position: relative;
  align-content: center;
  top: 50%;
  padding: 70px 20px 70px 20px;
  text-align: center;
  
  
  
}

.clock {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 15rem;
  line-height: 1;
  color: var(--clock);

  font-family: 'Lato',arial, sans-serif;
  font-weight: bold;
   
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: var(--modebutton);
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  border-color: #fff;
}

.main-button {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: var(--mainbutton);
  font-weight: bold;
  width: 200px;
  background-color:var(--mainbuttonbk);
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus, button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}
/* ------------------- TODO LIST------------ */


.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: var(--container);
  height: fit-content;
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  z-index: 4;

}

.app-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 80px;
  opacity: 0.5;
}

svg {
  width: 64px;
  height: 64px;
}

.todo-list {
  list-style: none;
  margin-bottom: 20px;
}

.todo-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item span {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
}

.done span {
  text-decoration: line-through;
}

input[type="checkbox"] {
  display: none;
}

.tick {
  width: 30px;
  height: 30px;
  border: 3px solid #333;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tick::before {
  content: '✓';
  font-size: 20px;
  display: none;
}

.done .tick::before {
  display: inline;
}

.delete-todo {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.delete-todo svg {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #333;
}

.empty-state {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.checklist-icon {
  margin-bottom: 20px;
  fill: white;
}

.empty-state__title, .empty-state__description {
  margin-bottom: 20px;
}

.todo-list:empty {
  display: none;
}

.todo-list:empty + .empty-state {
  display: flex;
}

/* --------- ThemeSelector---------*/

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  box-shadow: #333;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 50%;
  top:50%;
  transform: translate(0%, -50%);
  user-select: none;
  padding-top: 400px;
  z-index: 3;

}

body {
  background: radial-gradient(
    300px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06
    ),
    transparent 30%
  );
  border-radius: inherit;
  content:"";
  height: 100%;
  left: 0px;
  position:relative;
  top:0px;
  width: 100%;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto
}



footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;

}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(images/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave
{
    0%
    {
      background-position-x: 1000px;
    }

    100%
    {
      background-position-x: 0px;
    }
    
}

@keyframes animateWave_02
{
    0%
    {
      background-position-x: 0px;
    }

    100%
    {
      background-position-x: 1000px;
    }
    
}




/* ---------------- Media Querie ------------*/
@media (max-width: 768px) {
#image-track {
  display: none;
}

}



